<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
</head>
<body>
    <div>
        <form action="/math" method="POST" class="form">
            <select name="operation">
                <option value="add">Add</option>
                <option value="subtract">Subtract</option>
                <option value="multiply">Multiply</option>
                <option value="divide">Divide</option>
            </select>

            <input type="text" name="num1" placeholder="Enter first number">
            <input type="text" name="num2" placeholder="Enter second number">
            <input type="submit" value="Calculate">
        </form>
    </div>
</body>
</html>
